body {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#main-container {
  margin: auto;
  width: 70%;
  /* border: 1px solid black; */
}

p {
  margin: 0;
}

#heading {
  margin: 20px 0px;
  text-align: center;
  font-weight: normal;
  font-size: 20px;
  font-family: Fantasy;
  /* border: 2px solid red; */
}

#container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-block: 30px;
  /* border: 1px solid black; */
}

button {
  margin-block: 10px;
}

input, select {
  margin-block: 10px;
  padding: 2px 0px;
}

#container p {
  align-self: flex-start;
}

button {
  border-radius: 5px;
  border: none;
  padding: 5px;
  background-color: rgb(185, 197, 208);
  cursor: pointer
}

button:hover {
  background-color: lightgray;
}

#sub-container {
  margin: auto;
}

.h-formDeatils {
  text-align: center;
  font-weight: bolder;
  font-size: 18px;
  margin-bottom: 15px;
  font-family: Arial;
  text-decoration: underline;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  /* border: 1px solid black; */
}

.btn {
  display: flex;
  gap: 10px;
}

.dynamic-form {
  display: flex;
  flex-direction: column;
  margin-block: 30px;
  padding: 10px;
  /* border: 1px solid black;  */
}
